.application {
	
	margin: 2rem auto 2rem auto;

	&__grid {

		margin: .8rem .4rem .8rem .4rem;
		border: .125rem solid $LightestNavy;
		background-color: $Navy;

		&__name {

			margin: 1rem auto 1rem auto;
		}

		&__date {

			margin: 2rem 1rem 2rem 1rem;
			padding: 2rem auto 2rem auto;
		}

		&__desc {
			margin: 1rem auto 1rem auto;
			padding: 2rem auto 2rem auto;
		}

		&__comments {
			margin: 2rem 1rem 2rem 1rem;
			padding: 2rem auto 2rem auto;
			height: 12rem;
			overflow-y: auto;
			line-height: 1.8rem;
			background-color: $LightNavy;
			border-radius: 3%;
		}

		&__up_next {

			margin: 2rem auto auto 2rem;
			color: coral;
		}

		&__btn {
			
			margin: 1rem auto 1rem auto;
			width: $btn-size-xxs;
		}

		small {
			padding: 0;
			font-size: 1rem;
			font-weight: 100;
			color: gray;
		}
	}
}