<!-- "templates/leave/application.html" -->
{% extends "leave/base.html" %}

{% block title %}
	Application {{ application.id }}
{% endblock %}

{% block head %}
	{% load static %}
	{% load bootstrap4 %}
	{% load fontawesome_5 %}
	{% load humanizelib %}
{% endblock %}

{% block body %}
	<div class="container-fluid text-center">
		<div class="row justify-content-center">
			<div class="col-md-4">
				<img src="https://img.icons8.com/bubbles/200/000000/multi-edit.png" />
			</div>
			<div class="col-md-8 application">
				<div id="printableArea" class="application__grid">
					<h2 class="application__grid__name">{{ application.person.first_name }} {{ application.person.last_name }}</h2>
					<div class="row application__grid__date">
						<div class="col-md-6">From: {{ application.start_date|date }}</div>
						<div class="col-md-6">To: {{ application.end_date|date }}</div>
					</div>
					<div class="row application__grid__desc">
						<div class="col-md-3">Status: {{ application.get_status_display }}</div>
						<div class="col-md-4">Has Classes: {{ application.hasClasses }}</div>
						<div class="col-md-5">Rescheduled Class: {{ application.rescheduled_date }}</div>
					</div>
					<div style="float:left; margin:2rem;">Comments:</div>
					<div class="application__grid__comments"> {{ application.comments }}</div>
					{% if application.status == 'P' %}
						<div class="application__grid__up_next">To be approved by: {{ application.up_next.get_role_display }}</div>
					{% endif %}
					<div class="row mt-0 mb-0">
						<div class="col-md-6">
							<p class="text-left pt-0 pr-auto pb-1 pl-1"><small class="text-muted">Last Updated {{ application.updated_at|naturaltime }}</small></p>
						</div>
						<div class="col-md-6">
							<p class="text-right pt-0 pr-1 pb-1 pl-auto"><small class="text-muted">Added {{ application.created_at|naturaltime }}</small></p>
						</div>
					</div>
				</div>
				<button onclick="printDiv('printableArea')" class="form-control form-control-lg btn btn-outline-warning btn-lg mt-3" type="submit" name="button">Print</button>
			</div>
		</div>
	</div>
	<script>
		function printDiv(divName) {
			var printContents = document.getElementById(divName).innerHTML;
			var originalContents = document.body.innerHTML;

			document.body.innerHTML = printContents;

			window.print();

			document.body.innerHTML = originalContents;
		};
	</script>
{% endblock %}