<!-- "templates/leave/application.html" -->
{% extends "leave/base.html" %}

{% block title %}
	Application {{ application.id }}
{% endblock %}

{% block head %}
	{% load static %}
	{% load bootstrap4 %}
	{% load fontawesome_5 %}
	{% load humanizelib %}
{% endblock %}

{% block body %}
	<div class="container container-fluid text-center">
		<div class="row justify-content-center">
			<div class="col-md-4">
				<img src="https://img.icons8.com/bubbles/200/000000/multi-edit.png" />
			</div>
			<div class="col-md-8">
			</div>
		</div>
	</div>
{% endblock %}