<!-- templates/leave/status.html -->
{% extends 'leave/base.html' %}

{% block title %}
    Status - {{ type|capfirst }}
{% endblock %}

{% block head %}
	{% load static %}
	{% load bootstrap4 %}
	{% load fontawesome_5 %}
	{% load humanizelib %}
{% endblock %}

{% block body %}
	<div class="container-fluid text-center">
		{% if applications|length > 0 %}
			<div class="row">
				<div class="col-md-12">
					<h2> {{ type|capfirst }} - Applications </h2>
					<hr>
					<table class="center">
						<thead>
							<tr>
								<th>Faculty Id</th>
								<th>Name</th>
								<th>Start Date</th>
								<th>End Date</th>
								<th>Rescheduled Date</th>
								<th>Comments</th>
								<th colspan="3">Actions</th>
							<tr>
						</thead>
						<tbody>
							{% for application in applications %}
								<tr>
									<td>{{ application.person.faculty_id }}</td>
									<td><span>{{ application.person.first_name }} {{ application.person.last_name }}</span></td>
									<td>{{ application.start_date }}</td>
									<td>{{ application.end_date }}</td>
									<td>{{ application.rescheduled_date }}</td>
									<td>{{ application.comments }}</td>
									<td><a class="form-control form-control-lg btn btn-outline-warning btn-lg " href="{% url 'application' application.id %}" role="button">View</a></td>
									{% if type == "pending" %}
										<td><a class="form-control form-control-lg btn btn-outline-danger btn-lg " href="{% url 'reject' application.id %}" role="button">Reject</a></td>
										<td><a class="form-control form-control-lg btn btn-outline-success btn-lg " href="{% url 'approve' application.id %}" role="button">Approve</a></td>
									{% endif %}
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		{% else %}
			<div class="row justify-content-center">
				<div class="col-md-12">
					<div class="alert alert-info" role="alert"> 
						{% if type == "pending" %}
							There are no pending applications for review. 
						{% else %}
							All cleaned up.
						{% endif %}
					</div>
				</div>
			</div>
		{% endif %}		
	</div>
{% endblock %}