@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");
.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 1s ease-in-out forwards;
          animation: fade-in 1s ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 1s ease-in-out forwards;
          animation: fade-out 1s ease-in-out forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
  font-weight: 300;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  line-height: 1.3;
  color: whitesmoke;
  background-color: #001831;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body.no-scroll {
  overflow: hidden;
}

.header {
  position: relative;
  z-index: 1;
  border-top: 1px solid #112240;
  border-bottom: 1px solid #112240;
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .overlay {
  opacity: 0;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0a192f), to(#233554));
  background-image: linear-gradient(to bottom, #0a192f, #233554);
}

.header nav {
  position: relative;
  background-color: #0a192f;
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
}

.header__logo img {
  width: 3.7rem;
  height: 3.7rem;
  border-radius: 100%;
  background-color: #64ffda;
}

.header__toggle > span {
  display: block;
  height: .125rem;
  width: 1.625rem;
  background-color: #64ffda;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__menu {
  position: absolute;
  width: calc(100% -3rem);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #e6f1ff;
  margin-top: 1.5rem;
  padding: 1.625rem;
  border-radius: 7px;
}

.header__menu a {
  display: block;
  padding: 0.625rem;
  color: #F6AF44;
  text-align: center;
}

.header__links a {
  position: relative;
  font-size: 1.25rem;
  color: grey;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.header__links a:not(:last-child) {
  margin-right: 32px;
}

.header__links a:hover {
  color: #64ffda;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
}

.auth {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth__grid__img {
  margin-top: .2rem;
}

.auth__grid__title {
  margin-bottom: .8rem;
}

.auth__grid__text {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.person {
  margin: 1rem auto 1rem auto;
  border: 0.125rem solid #233554;
  background-color: #112240;
}

.person__grid {
  margin: .2rem .4rem .2rem .4rem;
  padding: .2rem auto .2rem auto;
  border: 0.125rem solid #233554;
}

.person__grid:hover {
  border: 0.125rem solid #ccd6f6;
}

.person__grid__img {
  margin: 1rem auto 1rem auto;
  padding: 1rem 1rem 1rem 1rem;
  width: 12.25rem;
  height: 12.25rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 0.125rem solid #ccd6f6;
}

.person__grid__img:hover {
  background-color: #112240;
}

.person__grid__name {
  margin: 1rem auto 1rem auto;
  padding: 1rem 1rem 1rem 1rem;
  font-size: 2rem;
  color: #a8b2d1;
}

.person__grid__username {
  font-size: 1rem;
  font-weight: 300;
  color: #64ffda;
}

.person__grid__email, .person__grid__office_no, .person__grid__department, .person__grid__leave_count, .person__grid__faculty_id {
  font-size: 1rem;
}

.person__grid__btn {
  margin: 1rem auto 1rem auto;
}

.person__applications {
  margin: 1rem auto 1rem auto;
}

.application {
  margin: 2rem auto 2rem auto;
}

.application__grid {
  margin: .8rem .4rem .8rem .4rem;
  background-color: #112240;
}

.application__grid__img {
  margin: 2rem auto 2rem auto;
  width: 40.625rem;
  height: 28.125rem;
  max-width: 100%;
  max-height: 100%;
  border: 0.25rem solid #233554;
}

.application__grid__img:hover {
  border: 0.25rem solid #ccd6f6;
}

.application__grid__title {
  margin: 1rem auto 1rem auto;
}

.application__grid__desc {
  margin: 2rem 1rem 2rem 1rem;
  padding: 2rem auto 2rem auto;
  height: 12rem;
  overflow-y: auto;
  line-height: 1.8rem;
  background-color: #233554;
  border: 0.125rem solid #ccd6f6;
}

.application__grid__price {
  padding: .2rem .2rem .2rem .2rem;
  background-color: #0a192f;
  border: 0.125rem solid #ccd6f6;
  border-radius: 1rem;
}

.application__grid__btn {
  margin: 1rem auto 1rem auto;
  width: 1in;
}

.application__grid small {
  padding: 0;
  font-size: 1rem;
  font-weight: 100;
  color: gray;
}

.applications {
  margin: 1rem auto 1rem auto;
}

.applications__container {
  margin: 1rem 1rem 1rem 1rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.applications__container__grid {
  margin: 2rem auto 2rem auto;
  background-color: #112240;
  border: 0.125rem solid #233554;
}

.applications__container__grid:hover {
  border: 0.125rem solid #ccd6f6;
}

.applications__container__grid__img {
  width: 28.125rem;
  height: 15.250rem;
  max-width: 100%;
  max-height: 100%;
  border-bottom: 0.25rem solid #233554;
}

.applications__container__grid__title {
  margin: 1rem auto .4rem auto;
  padding: 1rem auto 1rem auto;
  font-size: 2rem;
  font-weight: 300;
  color: #ccd6f6;
}

.applications__container__grid__price {
  padding: .7rem 1rem .7rem 1rem;
  color: #428bca;
  background-color: #0a192f;
  border: 0.125rem solid #ccd6f6;
  border-radius: 1rem;
}

.applications__container__grid__btn {
  margin-top: .4rem auto .2rem auto;
}

.applications__container__grid p small {
  padding: 0;
  font-size: .8rem;
  font-weight: 100;
  color: gray;
}

table, tr, th, td {
  margin: 2rem auto 2rem auto;
  padding: .5rem;
  text-align: center;
  border: .125rem solid #bd8c7d;
}

thead {
  background-color: #112240;
}

tbody {
  overflow: auto;
  height: 8rem;
}

th {
  color: #7dce94;
  font-size: 1.25rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

tbody tr:hover {
  background: #233554;
}

td {
  color: #a8b2d1;
  font-size: 1.5;
  font-weight: 1.5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Error Message */
.error {
  margin: 2rem auto 1.5rem auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.error__grid__img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.error__grid__type, .error__grid .success-message-type {
  max-width: 700px;
  margin: auto;
  font-size: 2rem;
}

.error__grid__message, .error__grid .success-message {
  max-width: 700px;
  margin: auto;
  text-align: center;
  padding: 30px;
  font-size: 1.4rem;
}

.error__grid__a, .error__grid .success-message-a {
  margin: 2rem auto 1rem auto;
  color: white;
  text-decoration: none !important;
}

.footer {
  margin-top: 2rem;
  background-color: #112240;
  border-top: 0.125rem solid #a8b2d1;
  border-bottom: 0.125rem solid #a8b2d1;
}

.footer__grid {
  margin: 1.5rem;
  color: #a8b2d1;
  font-size: 1rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__grid__handles {
  margin-bottom: 1.3rem;
}

.footer__grid__handles a:not(:last-child) {
  margin-right: 1rem;
}

.footer__grid__text {
  font-weight: 200;
}
/*# sourceMappingURL=style.css.map */